{% extends "Homepage.html" %}

{% block title %} Add_Student {% endblock %}


{% block body %}

<div class="box-form">
<form>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">First Name </label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="last_name" class="form-label">Last  Name</label>
    <input type="text" class="form-control" id="last_name">
  </div>
    <div class="mb-3">
    <label for="phone" class="form-label">Phone Number</label>
    <input type="number" class="form-control" id="phone">
  </div>
  <div class="mb-3">
    <label for="email" class="form-label">Email </label>
    <input type="email" class="form-control" id="email">
  </div>
  <div class="mb-3">
    <label for="class_name" class="form-label">Class Name</label>
    <input type="text" class="form-control" id="class_name">
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
{% endblock %}